.row {
  margin-left: 20px;
  color: white;
}

.row_posters {
  display: flex;
  overflow-y: hidden;
  overflow-x: scroll;
  padding: 20px;
}

.row_posters::-webkit-scrollbar {
  display: none;
}

.content {
  display: flex;
  object-fit: contain;
  position: relative;
}

.row_poster {
  display: block;
  object-fit: contain;
  /* width: 100%; */
  max-height: 100px;
  margin-right: 10px;
  border-radius: 4px;
  transition: transform 450ms;
}

.row_poster:hover {
  z-index: 1;
  transform: scale(1.08);
}

.row_poster:hover > .favorite {
  display: inline-block;
}

.row_posterLarge {
  max-height: 250px;
}

.row_posterLarge:hover {
  transform: scale(1.09);
}

.favorite {
  cursor: pointer;
  color: #fff;
  outline: none;
  border: none;
  font-weight: 700;
  border-radius: 4px;
  padding-left: 2rem;
  padding-right: 2rem;
  margin-bottom: 1rem;
  padding-top: 0.5rem;
  background-color: rgba(51, 51, 51, 0.5);
  padding-bottom: 0.5rem;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.45);
}

.favorite:hover {
  color: #000;
  background-color: #e6e6e6;
  transition: all 0.5s;
}

.trailer-container {
  text-align: center;
}
